/* .red {
  color: pink;
}

#_gg {
  color: rgb(84, 84, 134);
}
.pum {
  color: rgb(110, 49, 59);
}

#pony {
  color: blue;
}
* {
  font-size: 40px;
} */
/* h4.article {
  color: aqua;
}
p.article {
  color: blueviolet;
} */
/* 
div > h2 {
  color: gold;
} */

/* a[href] {
  font-size: 50px;
}
a[href="#"] {
  color: aqua;
}
[href="https://imgclf.112.ua/original/2015/12/15/199925.PNG?timestamp=1450192509"] {
  color: gold;
} */
/* [href^="https"] {
  color: brown;
} */
/* [href$="com"] {
  color: aqua;
} */


